@model ConsomiTounsiFront.Models.command

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>command</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_date)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.total_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delivery_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delivery_id)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.client_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chariot_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chariot_id)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "IndexB")
        </div>
    }
</div>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}