@model IEnumerable<ConsomiTounsiFront.Models.bill>

@{
    ViewBag.Title = "Index";
}

<h2>Bills</h2>

<p>
  

    @Html.ActionLink("PDF", "pdf")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bill_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_of_bill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.command.reference)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bill_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_of_bill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payment_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.command.reference)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { bill_id = item.bill_id }) |
                @Html.ActionLink("Details", "Details", new { bill_id = item.bill_id }) |
                @Html.ActionLink("Delete", "Delete", new { bill_id = item.bill_id })
            </td>
        </tr>
    }

  





</table>

@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}


<!--



<section id="aa-product-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
                <div class="aa-product-catg-content">
                    <div class="aa-product-catg-head">
                        <div class="aa-product-catg-head-left">
                            <form action="" class="aa-sort-form">
                                <label for="">Sort by</label>
                                <select name="">
                                    <option value="1" selected="Default">Default</option>
                                    <option value="2">bill_id</option>
                                    <option value="3">date_of_bill</option>
                                    <option value="4">payment_type</option>
                                </select>
                            </form>
                            <form action="" class="aa-show-form">
                                <label for="">Show</label>
                                <select name="">
                                    <option value="1" selected="12">12</option>
                                    <option value="2">24</option>
                                    <option value="3">36</option>
                                </select>
                            </form>
                        </div>
                        <div class="aa-product-catg-head-right">
                            <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                            <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
                        </div>
                    </div>
                </div>
                <div class="aa-product-catg-body">
                    @foreach (var item in Model)
                    {
                        <ul class="aa-product-catg">


                            <li>

                                <figure>
                                    <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                    <figcaption>
                                        <h4 class="aa-product-title"><a href="#"> @item.bill_id</a></h4>
                                        <span class="aa-product-price">@item.date_of_bill</span>
                                        <p class="aa-product-descrip"> @item.payment_type</p>
                                    </figcaption>
                                </figure>
                                <div class="aa-product-hvr-content">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                </div>


                            </li>

                        </ul>
                    }
                </div>
<div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="aa-product-view-slider">
                            <div class="simpleLens-gallery-container" id="demo-1">
                                <div class="simpleLens-container">
                                    <div class="simpleLens-big-image-container">
                                        <a class="simpleLens-lens-image" data-lens-image="img/view-slider/large/polo-shirt-1.png">
                                            <img src="img/view-slider/medium/polo-shirt-1.png" class="simpleLens-big-image">
                                        </a>
                                    </div>
                                </div>
                                <div class="simpleLens-thumbnails-container">
                                    <a href="#" class="simpleLens-thumbnail-wrapper"
                                       data-lens-image="img/view-slider/large/polo-shirt-1.png"
                                       data-big-image="img/view-slider/medium/polo-shirt-1.png">
                                        <img src="img/view-slider/thumbnail/polo-shirt-1.png">
                                    </a>
                                    <a href="#" class="simpleLens-thumbnail-wrapper"
                                       data-lens-image="img/view-slider/large/polo-shirt-3.png"
                                       data-big-image="img/view-slider/medium/polo-shirt-3.png">
                                        <img src="img/view-slider/thumbnail/polo-shirt-3.png">
                                    </a>

                                    <a href="#" class="simpleLens-thumbnail-wrapper"
                                       data-lens-image="img/view-slider/large/polo-shirt-4.png"
                                       data-big-image="img/view-slider/medium/polo-shirt-4.png">
                                        <img src="img/view-slider/thumbnail/polo-shirt-4.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
                        <aside class="aa-sidebar">

                            <div class="aa-sidebar-widget">
                                <h3>Category</h3>
                                <ul class="aa-catg-nav">
                                    <li><a href="#">Men</a></li>
                                    <li><a href="">Women</a></li>
                                    <li><a href="">Kids</a></li>
                                    <li><a href="">Electornics</a></li>
                                    <li><a href="">Sports</a></li>
                                </ul>
                            </div>
                            <div class="aa-sidebar-widget">
                                <h3>Shop By Price</h3>

                                <div class="aa-sidebar-price-range">
                                    <form action="">
                                        <div id="skipstep" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                        </div>
                                        <span id="skip-value-lower" class="example-val">30.00</span>
                                        <span id="skip-value-upper" class="example-val">100.00</span>
                                        <button class="aa-filter-btn" type="submit">Filter</button>
                                    </form>
                                </div>

                            </div>

                            <div class="aa-sidebar-widget">
                                <h3>Top Rated Products</h3>
                                <div class="aa-recently-views">
                                    <ul>
                                        <li>
                                            <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                                            <div class="aa-cartbox-info">
                                                <h4><a href="#">Product Name</a></h4>
                                                <p>1 x $250</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-1.jpg"></a>
                                            <div class="aa-cartbox-info">
                                                <h4><a href="#">Product Name</a></h4>
                                                <p>1 x $250</p>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>
                                            <div class="aa-cartbox-info">
                                                <h4><a href="#">Product Name</a></h4>
                                                <p>1 x $250</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
