@model IEnumerable<ConsomiTounsiFront.Models.remboursement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Refund", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.receipt_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stripeToken)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.receipt_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stripeToken)
        </td>
       
    </tr>
}

</table>
