@model IEnumerable<ConsomiTounsiFront.Models.exchange>

@{
    ViewBag.Title = "Index";
}

<h2>Bienvenue</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.couponValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateLimite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.users.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.users.username)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.couponValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateLimite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.users.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.users.username)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.numCoupon }) |
                <a class='btn' onclick='Delete(@item.numCoupon)'><b class='material-icons'>delete</b></a>
            </td>
        </tr>
    }

</table>
@section Scripts {

    <script>
    function Delete(id) {
        //if (confirm('Are You Sure to Delete this Employee Record ?')) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this Exchange!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "POST",
                        url: "/Exchanges/Delete/" + id
                    });
                    swal("Poof! Exchange has been deleted!", {
                        icon: "success",
                    }).then(function () {
                        location.reload();
                    });
                    //location.reload();
                } else {
                    swal("Exchange is safe!");
                }
            });
    }
    </script>
}